<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body class="bg-gradient-primary" style="background: var(--bs-border-color-translucent);">
    <h1 style="color: #6a1b9a;font-family: ABeeZee, sans-serif;position: absolute;margin-top: 162px;margin-left: 144px;font-size: 49px;font-weight: bold;">PAGE NOT FOUND</h1>
    <h1 style="position: absolute;color: #8341ab;margin-top: 236px;margin-left: 279px;font-size: 23px;"><a href="/" style="text-decoration: none; color: #8341ab;">Go Back</a></h1><img src="assets/img/1726264090511.jpg" width="1519" height="791" style="position: relative;">
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>