<!DOCTYPE html>
<!--www.codingflicks.com-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transparent Login Form HTML CSS</title>
	<link href="assets/css/register.css" rel="stylesheet">
</head>
<body>
	<div class="form-box">
		<div class="header-text">
			Register for Beta Testing
		</div>
        <div style="color: #474747;">
            <center>
                Be one of the first to experience our cutting-edge app. Sign up below for exclusive early access and help us shape the future!
            </center>
        </div>

        <br>

        <form action="/register" method="post">
            <div style="display: flex;">
                <input type="text" name="name" id="name" placeholder="What is your name? *" style="font-size: 15px;" required>
                <div style="margin-left: 20px;"></div>
                <input type="email" name="email" id="email" placeholder="What is your email? *" style="font-size: 15px;" required>
            </div>
            <div style="display: flex;">
                <input type="text" name="phone" id="" placeholder="What is your phone number? *" style="font-size: 15px;" required>
                <div style="margin-left: 20px;"></div>
                <input type="text" name="company" id="" placeholder="What is your company? *" style="font-size: 15px;" required>
            </div>
            <br>
            <textarea name="" id="" rows="7" cols="73" placeholder="Write your message here" style="border: none; border-radius: 8px; padding: 13px 13px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 15px;" name="message" required></textarea>
            <button style="border-radius: 13px;" type="submit">SEND MESSAGE</button>
        </form>
	</div>
</body>
</html>
